[submodule "Libraries/mavlink"]
	path = Libraries/mavlink
	url = https://github.com/SuWeipeng/car_mavlink.git
[submodule "Libraries/AP_Show"]
	path = Libraries/AP_Show
	url = https://github.com/SuWeipeng/AP_Show.git
